// src/scss/_variables.scss
$font-primary: "Poppins", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$color-primary: #0f152e;
$color-secondary: #aaaaaa;
$color-marker: #46a7d2;
$color-white: #ffffff;

$btn-gradient-start: #55a8ce;
$btn-gradient-end: #4420b7;

$container-max-width: 1200px;
